body {
    background: #6633ff;
    font-family: Arial, sans-serif;
    margin: 0px;
}

h1 {
    font-size: 18px;
    text-decoration:  underline;
}

h2 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

.vid_container {
    position: relative;
}

.title_vid {
    top: 0;
    left: 0;
    position: relative;
}

div.fill_top {
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background: grey;
    position: relative;
    top: 0;
    left: 0;
}

.center {
    position: absolute;
    left: 15%;
    top: 50%;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration:  underline;
    transform: translate(0, -50%);
}

div.content {
    padding: 1em;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

